{#{% set sidebar %}#}
{#    {{ knp_menu_render('sidebar_menu') }}#}
{#{% endset %}#}
{% set sidebar %}
{#    {{ knp_menu_render('sidebar_menu', {'allow_safe_labels': true, 'currentClass': 'uk-active'}) }}#}
{% endset %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|spaceless }}
        {% endblock -%}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,700&display=swap"
              rel="stylesheet">
        <style>

            body{min-height: 100vh;}
            .sidebar-wrapper {
                min-height: 100vh;
                max-width: 250px !important;
                background-image: linear-gradient(to bottom, #022136, #01243c, #002842, #002b49, #002e4f);            .sidebar{
                width: 200px !important;
            }

            .content-wrapper{
                padding: 10px 50px 10px 50px;
            }
        </style>
    {% endblock %}
    {% block javascripts_header %}
        <script src="{{ asset('js/uikit.js') }}"></script>
    {% endblock %}
</head>
<body>

{% block body %}
<div class="uk-section-large uk-padding-remove uk-grid" data-uk-grid>
    {% block sidebar %}
        <div class="uk-flex-left sidebar-wrapper uk-width-1-6@m uk-flex-first uk-visible@m uk-background-secondary">

            <div class="sidebar " uk-sticky>
                <button data-uk-toggle="target: #my-id" type="button"></button>
                {{ sidebar }}
            </div>
        </div>
    {% endblock %}
    <div class="uk-width-expand@m content-wrapper uk-margin-left uk-padding-small uk-padding-large ">
        {% block content %}

        {% endblock %}
    </div>

    <div class="uk-flex-left sidebar-wrapper uk-width-1-6@m uk-visible@m uk-background-secondary">
        <div class="sidebar uk-padding-remove" uk-sticky>
            {% block rigth_sidebar %}
                {{ render(controller(
                    'App\\Controller\\SubControler\\RightSidebarController::recentArticles',
                    { 'max': 1 }
                )) }}

            {% endblock %}
        </div>
    </div>
</div>
    {#<a href="" data-uk-totop data-uk-scroll id="totop" class="uk-position-fixed uk-animation-scale-up"#}
    {#   style="bottom: 30px; right: 30px;display: none;">ewfwfe</a>#}


    <div id="my-id" uk-offcanvas>
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" data-uk-close></button>
            {{ dump() }}
        </div>
    </div>

    {% block javascripts_body_bottom %}

        <script>

            //        var mybutton = document.getElementById("totop");
            //
            //        // When the user scrolls down 20px from the top of the document, show the button
            //        window.onscroll = function () {
            //            scrollFunction()
            //        };
            //
            //        function scrollFunction() {
            //            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 200) {
            //                mybutton.style.display = "block";
            //            } else {
            //                mybutton.style.display = "none";
            //            }
            //        }

        </script>
    {% endblock %}
    {% endblock %}
</body>
</html>